<div class="header">
    <div class="logo"><img src="{% static 'images/logo.png' %}"></div>  
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'cars' %}">BROWSE CARS</a></li>
            <li><a href="{% url 'favorites' %}" class="active">MY FAVORITES</a></li>
            <li><a href="{% url 'compare' %}">COMPARE CARS</a></li>
        </ul>
    </nav>
    <div class="profile-icon" id="profileIcon">
        <img src="{% static 'images/profileicon.png' %}" alt="Profile Icon" onError="this.onerror=null; this.src='{% static 'images/profileicon.png' %}';">
    </div> 
</div> 