{% extends 'base.html' %}
{% load static %}

{% block title %}Home | AutoCar{% endblock %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="welcome-banner">FIND YOUR CAR NOW!</div>

    <div class="button-container">
        <button class="browsebtn" onclick="window.location.href='{% url 'cars' %}'">BROWSE CARS</button>
        <button class="comparebtn" onclick="window.location.href='{% url 'compare' %}'">COMPARE CARS</button>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}